# --- Build output ---
Tarkony-aspdotnet-backend/bin/
Tarkony-aspdotnet-backend/obj/

# --- Config és környezeti fájlok ---
Tarkony-aspdotnet-backend/.config/
Tarkony-aspdotnet-backend/appsettings.Development.json
Tarkony-aspdotnet-backend/bin/Debug/net8.0/appsettings.json
*.env

# --- Egyedi fájlok ---
cheatsheet.md
MyRequest.http
Tarkony-aspdotnet-backend/MyRequest.http

# --- IDE / Editor beállítások ---
.vscode/

# --- Logok ---
Tarkony-aspdotnet-backend/logs/

# --- Egyéb ---
/junk/

# --- Docker ---
Dockerfile

.fake